<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Selenium 101 Assignment">

    <!-- Chrome Tests -->

    <test name="Chrome Scenario 1">
        <classes>
            <class name="com.selenium101.tests.TestScenario1Cloud"/>
        </classes>
    </test>

    <test name="Chrome Scenario 2">
        <classes>
            <class name="com.selenium101.tests.TestScenario2Cloud"/>
        </classes>
    </test>

    <test name="Chrome Scenario 3">
        <classes>
            <class name="com.selenium101.tests.TestScenario3Cloud"/>
        </classes>
    </test>


    <!-- Edge Tests -->

    <test name="Edge Scenario 1">
        <classes>
            <class name="com.selenium101.tests.TestScenario1EdgeCloud"/>
        </classes>
    </test>

    <test name="Edge Scenario 2">
        <classes>
            <class name="com.selenium101.tests.TestScenario2EdgeCloud"/>
        </classes>
    </test>

    <test name="Edge Scenario 3">
        <classes>
            <class name="com.selenium101.tests.TestScenario3EdgeCloud"/>
        </classes>
    </test>

</suite>